$orange: #e75b1e;
$smoke: #ecf0f1;
$black: #222;
$back-grey: #e6e6e6;
$grey1: #3a3b3c;
$grey2: #828282;
$grey3: rgba(229,233,234,0.7);
$shadow: 1px 2px 8px #cacaca;
$back-grey: #f6f8fa;
$dark-blue: #0e2b6c;