<div id="about" class="about-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title"> About Us </h2>
                    <h3>IT STARTED, QUITE SIMPLY, LIKE THIS...</h3>
                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et
                        dolore
                        magna aliqua. Ut enim ad minim venia, nostrud exercitation ullamco. </p>

                    <p> Aenean commodo ligula eget dolor aenean massa. Cum sociis nat penatibu set magnis dis parturient
                        montes,
                        nascetur ridiculus mus. quam felisorat, ultricies nec, Aenean commodo ligula eget dolor penatibu
                        set
                        magnis is parturient montes, nascetur ridiculus mus. quam felisorat, ultricies nec, pellentesque
                        eu,
                        pretium quis, sem. quat massa quis enim. Donec vitae sapien ut libero venenatis fauci Nullam
                        quis ante.
                        Etiam sit amet rci eget eros. </p>

                    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusm incididunt ut labore et
                        dolore
                        magna aliqua. Ut enim ad minim venia, nostrud exercitation ullamco. </p>
                </div>
            </div>
            <!-- end col -->
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <div class="about-images">
                        <img class="about-main" src="images/about-main.jpg" alt="About Main Image">
                        <img class="about-inset" src="images/about-inset.jpg" alt="About Inset Image">
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>