<div id="blog" class="blog-main pad-top-100 pad-bottom-100 parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="block-title text-center">
                    Our Blog
                </h2>
                <div class="blog-box clearfix">
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="col-md-6 col-sm-6">
                            <div class="blog-block">
                                <div class="blog-img-box">
                                    <img src="images/featured-image-01.jpg" alt="" />
                                    <div class="overlay">
                                        <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="blog-dit">
                                    <p><span>25 NOVEMBER, 2014</span></p>
                                    <h2>LATEST RECIPES JUST IN!</h2>
                                    <h5>BY John Doggett</h5>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="col-md-6 col-sm-6">
                            <div class="blog-block">
                                <div class="blog-img-box">
                                    <img src="images/featured-image-02.jpg" alt="" />
                                    <div class="overlay">
                                        <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="blog-dit">
                                    <p><span>2 NOVEMBER, 2014</span></p>
                                    <h2>NEW RECRUITS HAVE ARRIVED!</h2>
                                    <h5>BY Jeffrey Spender</h5>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="col-md-6 col-sm-6">
                            <div class="blog-block">
                                <div class="blog-img-box">
                                    <img src="images/featured-image-03.jpg" alt="" />
                                    <div class="overlay">
                                        <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="blog-dit">
                                    <p><span>4 NOVEMBER, 2014</span></p>
                                    <h2>BAKING TIPS FROM THE PROS</h2>
                                    <h5>BY Monica Reyes</h5>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                        <div class="col-md-6 col-sm-6">
                            <div class="blog-block">
                                <div class="blog-img-box">
                                    <img src="images/featured-image-04.jpg" alt="" />
                                    <div class="overlay">
                                        <a href=""><i class="fa fa-link" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                                <div class="blog-dit">
                                    <p><span>12 NOVEMBER, 2014</span></p>
                                    <h2>ALL YOUR EGGS BELONG TO US</h2>
                                    <h5>BY John Doggett</h5>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                </div>
                <!-- end blog-box -->

                <div class="blog-btn-v">
                    <a class="hvr-underline-from-center" href="#">View the Blog</a>
                </div>

            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>