<div id="our_team" class="team-main pad-top-100 pad-bottom-100 parallax">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title text-center">
                        Our Team
                    </h2>
                    <p class="title-caption text-center">There are many variations of passages of Lorem Ipsum available,
                        but the
                        majority have suffered alteration in some form, by injected humour, or randomised words which
                        don't look
                        even slightly believable. </p>
                </div>
                <div class="team-box">

                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <div class="sf-team">
                                <div class="thumb">
                                    <a href="#"><img src="images/staff-01.jpg" alt=""></a>
                                </div>
                                <div class="text-col">
                                    <h3>John Doggett</h3>
                                    <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                        fringilla
                                        mauris sit amet nibh. Donec sodales sagittis magna. Aenean commodo ligula.</p>
                                    <ul class="team-social">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-md-4 col-sm-6">
                            <div class="sf-team">
                                <div class="thumb">
                                    <a href="#"><img src="images/staff-02.jpg" alt=""></a>
                                </div>
                                <div class="text-col">
                                    <h3>Jeffrey Spender</h3>
                                    <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                        fringilla
                                        mauris sit amet nibh. Donec sodales sagittis magna. Aenean commodo ligula.</p>
                                    <ul class="team-social">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-md-4 col-sm-6">
                            <div class="sf-team">
                                <div class="thumb">
                                    <a href="#"><img src="images/staff-03.jpg" alt=""></a>
                                </div>
                                <div class="text-col">
                                    <h3>Monica Reyes</h3>
                                    <p>Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
                                        fringilla
                                        mauris sit amet nibh. Donec sodales sagittis magna. Aenean commodo ligula.</p>
                                    <ul class="team-social">
                                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->

                </div>
                <!-- end team-box -->

            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>