<div id="pricing" class="pricing-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="block-title text-center">
                    Pricing
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut orci varius, elementum lectus nec,
                    aliquam
                    lectus. Duis neque augue, maximus in sapien ut, porta pharetra odio.</p>
            </div>
            <div class="panel-pricing-in">
                <!-- item -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-heading">
                            <div class="pric-icon">
                                <img src="images/store.png" alt="" />
                            </div>
                            <h3>Basic</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$30/<span>Month</span></strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> One Website</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> One User</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 10 GB Bandwidth</li>
                            <li class="list-group-item"><i class="fa fa-times"></i> 2GB Storage</li>
                            <li class="list-group-item"><i class="fa fa-times"></i> Offline work</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 24x7 Support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block hvr-underline-from-center" href="#">Purchase Now!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-heading">
                            <div class="pric-icon">
                                <img src="images/food.png" alt="" />
                            </div>
                            <h3>Pro</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$60/<span>Month</span></strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> One Website</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> One User</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 50 GB Bandwidth</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 2GB Storage</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Offline work</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 24x7 Support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block hvr-underline-from-center" href="#">Purchase Now!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->

                <!-- item -->
                <div class="col-md-4 col-sm-4 text-center">
                    <div class="panel panel-pricing">
                        <div class="panel-heading">
                            <div class="pric-icon">
                                <img src="images/coffee.png" alt="" />
                            </div>
                            <h3>Platinum</h3>
                        </div>
                        <div class="panel-body text-center">
                            <p><strong>$90/<span>Month</span></strong></p>
                        </div>
                        <ul class="list-group text-center">
                            <li class="list-group-item"><i class="fa fa-check"></i> One Website</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> One User</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 100 GB Bandwidth</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 2GB Storage</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> Offline work</li>
                            <li class="list-group-item"><i class="fa fa-check"></i> 24x7 Support</li>
                        </ul>
                        <div class="panel-footer">
                            <a class="btn btn-lg btn-block hvr-underline-from-center" href="#">Purchase Now!</a>
                        </div>
                    </div>
                </div>
                <!-- /item -->
            </div>
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>