{{>header}}
<div id="banner" class="banner full-screen-mode parallax">
    <div class="container pr">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-static">
                <div class="banner-text">
                    <div class="banner-cell">
                        <h1>Dinner with us <span class="typer" id="some-id" data-delay="200" data-delim=":"
                                data-words="Friends:Family:Officemates" data-colors="red"></span><span class="cursor"
                                data-cursorDisplay="_" data-owner="some-id"></span></h1>
                        <h2>Accidental appearances </h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh euismod</p>
                        <div class="book-btn">
                            <a href="#reservation" class="table-btn hvr-underline-from-center">Book my Table</a>
                        </div>
                        <a href="#about">
                            <div class="mouse"></div>
                        </a>
                    </div>
                    <!-- end banner-cell -->
                </div>
                <!-- end banner-text -->
            </div>
            <!-- end banner-static -->
        </div>
        <!-- end col -->
    </div>
    <!-- end container -->
</div>
<!-- end banner -->

{{>about}}
{{!-- end about us --}}

{{>special}}
<!-- end special-menu -->

{{>menu}}
<!-- end menu -->

{{>ourTeam}}
<!-- end team-main -->

{{>gallery}}
<!-- end gallery-main -->

{{>blog}}
<!-- end blog-main -->

{{>reservation}}
<!-- end reservations-main -->
<script>
    // Scroll to current position after reload page
    document.addEventListener("DOMContentLoaded", function (event) {
        var scrollpos = localStorage.getItem("scrollpos");
        if (scrollpos) window.scrollTo(0, scrollpos);
    });

    window.onbeforeunload = function (e) {
        localStorage.setItem("scrollpos", window.scrollY);
    };
</script>
{{>footer}}