{{>header}}
<div class="banner">
    <!-- row -->
    <div class="checkout-container">
        <!-- Billing Details -->
        <div class="billing-details">
            <div style="height: 10px;"></div>
            <div class="section-title block-title">
                <h3 class="title" style="margin-bottom:10px;">Thank you for using our products</h3>
                {{!-- <div style="height: 30px;"></div><div style="height: 100px;"></div> --}}
                <button type="submit" class="order-submit" style='border:0px;font-family: "Roboto", sans-serif;background-color:#eb520b;text-align: center justify;padding: 0px 20px 0px 20px;border-radius: 10px;'> <a href="./" style="color:#ffffff;">Go to Home</a> </button>
                <div style="height: 20px;"></div>
                <h3 class="title">From <strong style="color:rgb(71, 2, 0);">FoodSunday Restaurant</strong> with love ❤️</h3>
            </div>
        </div>
    </div>
</div>
{{>footer}}